<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= content_for(:title).present? ? "#{content_for(:title)} · Pipelin" : "Pipelin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-white">
    <%= render "shared/nav" %>
    <main class="max-w-6xl mx-auto px-5 py-10">
      <%= render "shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
